* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0px;
  margin: 0px;
  color: white;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(2, 6, 24);
}

.cards {
  display: grid;
  gap: 1rem;
  margin: 1em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.score-container {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card {
  background-color: rgb(15, 23, 43);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 1em;
  font-weight: 600;
  font-size: 1.5rem;
  transition: transform 0.4s background-color 0.5s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgb(3, 7, 18);
}
